@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
}

* {
  box-sizing: border-box;
}
body {
  font-family: "SFProDisplay-Regular";
  background: #bbadad;
}
.header {
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.input-group {
  width: 237px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.search-input {
  height: 100%;
  width: 90%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.menu-toggle {
  display: none;
}
.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  width: 67%;
}
.post {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}
.post-title {
  font-family: "SFProDisplay-Semibold";
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.tags {
  margin-bottom: 22px;
}
.tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
}
.post-footer {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.post-autor {
  display: flex;
  align-items: center;
  text-align: right;
}
.author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.post-time {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
}
.sidebar {
  width: 31%;
  font-family: "SFProDisplay-Regular"
}
.user {
  background-color: #d6d0d0;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}
.user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.icon-exit {
  width: 20px;
  height: 20px;
  color: #262626;
}
.sidebar-nav {
  background-color: #ffffff;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style: none;
  padding: 0;
}
.sidebar-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 16px 16px 48px;
  display: inline-block;
  width: 100%;
}
.sidebar-menu-link:hover {
  background: #fffbe6;
  color: #faad14;
}
.sidebar-menu-link.active {
  color: #faad14;
  border-right: 3px solid #faad14;
}
.icon-hot {
  width: 11px;
  height: 14px;
  fill: #fff;
  margin-right: 10px;
}
.button {
  background: #faad14;
  border-radius: 4px;
}
.button-new-post {
  width: 100%;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}
.card-header {
  background: #d6d0d0;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  font-family: "SFProDisplay-Semibold";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  margin: 0;
}
.card-body {
  padding: 22px 40px 30px 25px;
}
.card-body-title {
  font-family: "SFProDisplay-Semibold";
  margin: 0 0 10px;
  color: #d48806;
}
.card-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .sidebar{
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 320px;
    background-color: #fff;
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
  }
}